<<<<<<< HEAD
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f7f7f7;
  }
  
  .container {
    margin-top: 50px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
=======
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f7f7f7;
  }
  
  .container {
    margin-top: 50px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
>>>>>>> 7daaa0871410a634bb326e7a594c7a1789f3bb7b
  